.brand-name img{



    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    justify-self: center;
    margin: auto;

}

.brand-name {
    padding-top: 16px;
    margin: auto;
display: flex;
width: 50%;

}